[defaults]
inventory = inventory/hosts.yml
private_key_file = ~/.ssh/homelab_ed25519
remote_user = nuggets
interpreter_python = /usr/bin/python3
vault_password_file = ~/.vault_pass
roles_path = roles

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes
pipelining = true