---
# {{ ansible_managed }}
title: {{ homepage_settings.title }}
theme: {{ homepage_settings.theme }}
color: {{ homepage_settings.color }}
headerStyle: {{ homepage_settings.headerStyle }}
background: {{ homepage_settings.background }}
cardBlur: {{ homepage_settings.cardBlur }}
cardOpacity: {{ homepage_settings.cardOpacity }}