interface={{ dhcp_interface }}
bind-interfaces

dhcp-range={{ dhcp_range_start }},{{ dhcp_range_end }},{{ dhcp_netmask }},{{ dhcp_lease_time }}
dhcp-option=option:router,{{ dhcp_gateway }}
dhcp-option=option:dns-server,{{ dhcp_dns }}

{% for host in dhcp_static_hosts | default([]) %}
dhcp-host={{ host.mac }},{{ host.name }},{{ host.ip }}
{% endfor %}